* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

.site-wrapper {
  max-width: 1280px;
  min-width: 360px;
  margin: 0 auto;
}

.page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &::before {
    content: '';
    background: url("../../images/plane.png") center no-repeat;
    background-size: 80%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
  }
}

.background {
  &::before {
    opacity: 0.3;
  }
}

