.app-header {
  height: 70px;
  background-color: #6986b9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 360px;
  font-weight: bold;

  a {
    color: aliceblue;
  }
}

.logo {
  height: 80%;
  background-image: url("../images/plane.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 150px;
}