.app-nav {
  display: flex;

  a {
    padding: 20px;

    &:hover {
      color: blueviolet;
    }
  }
}

.submenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #96acd4;
  color: aliceblue;

  a {
    padding: 0 20px;

    &:hover {
      color: blueviolet;
    }
  }
}

.app-nav, .submenu {
  .active {
    color: blueviolet;
    text-decoration: underline;
  }
}
