.work-nav {
  background-color: #315EAFFF;
  color: azure;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;

  span {
    padding: 20px;

    &:hover {
      color: #D5B2F7FF;
    }
  }
}